@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);

#ext_menu-15 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-15.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-15 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-15 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-15 .mbr-navbar__items a {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}
#msg-box4-17 .mbr-header__text {
  color: #ffffff;
  font-size: 30px;
}
#msg-box4-17 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-17 .mbr-article {
  color: #ffffff;
}
#header1-18 P {
  color: #000000;
  font-size: 17px;
}
#header1-18 H1 {
  color: #000000;
  font-size: 30px;
}
#msg-box4-19 .mbr-header__text {
  color: #777777;
  font-size: 30px;
}
#msg-box4-19 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-19 .mbr-article {
  color: #ffffff;
}
#msg-box4-19 .mbr-article P {
  color: #777777;
}
#header1-1a P {
  font-size: 17px;
}
#header1-1a H1 {
  font-size: 30px;
}
#msg-box3-1c .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-1c .mbr-header .mbr-header__subtext {
  text-align: center;
}
#contacts2-16 B {
  color: #ffffff;
}
#contacts2-16 STRONG {
  color: #ffffff;
}
#contacts2-16 P {
  color: #ffffff;
}
#msg-box1-1v .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-1v .mbr-article {
  color: #c1c1c1;
  font-size: 13px;
  text-align: right;
}

#ext_menu-1d .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-1d.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-1d .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-1d .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-1d .mbr-navbar__items a {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}
#header2-1g H1 {
  color: #000000;
}
#header2-1g P {
  color: #000000;
  font-size: 17px;
}
#gallery1-1h B {
  text-align: center;
}
#gallery1-1h SMALL {
  text-align: center;
  color: #ffffff;
}
#msg-box3-1k .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-1k .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-1k .mbr-article P {
  color: #000000;
  text-align: center;
}
#content5-21 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
  font-size: 16px;
}
#content5-21 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-21 .mbr-article {
  color: #fff;
}
#content5-21 .mbr-article P {
  text-align: center;
  color: #ffffff;
}
#content5-21 .mbr-header .mbr-header__text DIV {
  font-size: 16px;
}
#contacts2-1e B {
  color: #ffffff;
}
#contacts2-1e STRONG {
  color: #ffffff;
}
#contacts2-1e P {
  color: #ffffff;
}
#msg-box1-1w .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-1w .mbr-article {
  color: #c1c1c1;
  font-size: 13px;
  text-align: right;
}


#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-0 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-0 .mbr-navbar__items a {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}
#slider-3 H1 {
  text-align: right;
  color: #ffffff;
}
#slider-3 P {
  text-align: right;
  color: #ffffff;
}
#msg-box5-a .mbr-header__text {
  color: #ffffff;
}
#msg-box5-a .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-a .mbr-article {
  color: #ffffff;
}
#msg-box5-a .mbr-article P {
  font-size: 30px;
}
#content4-7 P {
  color: #000000;
}
#content4-7 .mbr-section__col .mbr-header__text {
  text-align: left;
  font-size: 20px;
}
#msg-box4-b .mbr-header__text {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  text-align: left;
}
#msg-box4-b .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-b .mbr-article {
  color: #ffffff;
}
#msg-box4-b .mbr-article P {
  color: #ffffff;
}
#msg-box5-c .mbr-header__text {
  color: #ffffff;
}
#msg-box5-c .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-c .mbr-article {
  color: #ffffff;
}
#msg-box5-c .mbr-article P {
  font-size: 30px;
  text-align: left;
}
#features1-d .mbr-section__col .mbr-header__text {
  text-align: center;
}
#contacts2-e B {
  color: #ffffff;
}
#contacts2-e STRONG {
  color: #ffffff;
}
#contacts2-e P {
  color: #ffffff;
}
#msg-box1-2s .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-2s .mbr-article {
  color: #c1c1c1;
  font-size: 13px;
  text-align: right;
}


#ext_menu-f .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-f.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-f .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-f .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-f .mbr-navbar__items a {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}
#features1-v .btn {
  font-size: 18px;
}
#header1-u DIV {
  text-align: left;
  color: #ffffff;
}
#header1-u P {
  font-size: 17px;
  color: #ffffff;
}
#header1-u H1 {
  text-align: left;
  color: #ffffff;
}
#header1-u SPAN {
  text-align: right;
}
#header1-u B {
  color: #ffffff;
}
#msg-box3-x .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-x .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-x .mbr-article P {
  color: #000000;
}
#msg-box3-x .mbr-article UL {
  color: #000000;
}
#header1-q P {
  font-size: 17px;
  text-align: right;
}
#header1-q H1 {
  text-align: right;
  color: #ffffff;
}
#content1-1l P {
  color: #000000;
  font-size: 17px;
}
#content1-1l B {
  color: #000000;
}
#testimonials1-r .mbr-reviews__author-name {
  text-align: center;
}
#testimonials1-r .mbr-reviews__text P {
  font-size: 16px;
  color: #000000;
}
#testimonials1-1m .mbr-reviews__text P {
  color: #000000;
}
#testimonials1-1m .mbr-reviews__author-name DIV {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}
#testimonials1-1m .mbr-reviews__author-name {
  font-size: 16px;
}
#testimonials1-1m .mbr-reviews__author-bio {
  font-size: 16px;
}
#msg-box3-2p .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-2p .mbr-header .mbr-header__subtext {
  text-align: center;
}
#contacts2-g B {
  color: #ffffff;
}
#contacts2-g STRONG {
  color: #ffffff;
}
#contacts2-g P {
  color: #ffffff;
}
#msg-box1-1u .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-1u .mbr-article {
  color: #c1c1c1;
  font-size: 13px;
  text-align: right;
}

#ext_menu-23 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-23.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-23 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-23 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-23 .mbr-navbar__items a {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}
#header1-2d H1 {
  text-align: left;
}
#header1-2d P {
  text-align: left;
  font-size: 17px;
}
#msg-box3-2e .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-2e .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-2e .mbr-article P {
  color: #000000;
}
#msg-box1-2f .mbr-header .mbr-header__text {
  color: #fff;
  text-align: right;
}
#msg-box1-2f .mbr-article {
  color: #fff;
  text-align: right;
}
#pricing-table1-2g SPAN {
  font-size: 32px;
}
#msg-box1-2h .mbr-header .mbr-header__text {
  color: #fff;
  text-align: right;
}
#msg-box1-2h .mbr-article {
  color: #fff;
}
#pricing-table1-2i SPAN {
  font-size: 32px;
}
#pricing-table1-2i B {
  color: #000000;
}
#pricing-table1-2i UL {
  color: #000000;
}
#msg-box3-2j .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-2j .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-2j .mbr-article P {
  color: #000000;
}
#contacts2-2k B {
  color: #ffffff;
}
#contacts2-2k STRONG {
  color: #ffffff;
}
#contacts2-2k P {
  color: #ffffff;
}
#msg-box1-2l .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-2l .mbr-article {
  color: #c1c1c1;
  font-size: 13px;
  text-align: right;
}
